<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>cargarArchivo</servlet-name>
        <servlet-class>gob.gbc.servlet.cargarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarExcel</servlet-name>
        <servlet-class>gob.gbc.servlet.cargarExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejecutaReporte</servlet-name>
        <servlet-class>gob.gbc.servlet.EjecutaReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaqueteReporte</servlet-name>
        <servlet-class>gob.gbc.servlet.PaqueteReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaqueteReportesReprogramado</servlet-name>
        <servlet-class>gob.gbc.servlet.PaqueteReportesReprogramado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamoList</servlet-name>
        <servlet-class>gob.gbc.api.RamoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramaList</servlet-name>
        <servlet-class>gob.gbc.api.ProgramaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MIR</servlet-name>
        <servlet-class>gob.gbc.api.MIR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Componente</servlet-name>
        <servlet-class>gob.gbc.api.Componente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actividad</servlet-name>
        <servlet-class>gob.gbc.api.Actividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Indicador</servlet-name>
        <servlet-class>gob.gbc.api.Indicador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cargarArchivo</servlet-name>
        <url-pattern>/cargarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarExcel</servlet-name>
        <url-pattern>/cargarExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejecutaReporte</servlet-name>
        <url-pattern>/ejecutaReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaqueteReporte</servlet-name>
        <url-pattern>/PaqueteReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaqueteReportesReprogramado</servlet-name>
        <url-pattern>/PaqueteReportesReprogramado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamoList</servlet-name>
        <url-pattern>/RamoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramaList</servlet-name>
        <url-pattern>/ProgramaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MIR</servlet-name>
        <url-pattern>/MIR/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Componente</servlet-name>
        <url-pattern>/Componente/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actividad</servlet-name>
        <url-pattern>/Actividad/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Indicador</servlet-name>
        <url-pattern>/Indicador/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
