body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    background-image: url(../imagenes/fondoAzul.jpg);
    background-repeat: repeat;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;

}

hr {
    position: relative !important;
    left: -35px !important;
}

.banner-azul{
    height: 30px;
    background-image: url(../imagenes/fondo_azul.png);
    color: #FFF;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 15px;
    font-weight: bold;
}

table {
    border-color: #CCCCCC;
}


.clear {
    clear:both;
}

.estilo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #666666;
}
.alerta {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #ff0000;
}
.busqueda {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: normal;
    color: #666666;
}

.menuizq {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    color: #999999;
}
/*******************************************/
.SeccionORIG {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: right;
    background-color: #006600;
}
.Seccion {
    /*font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;*/
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #034E92;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    background-color: #F0F5FF;
}
.renglonTablaORIG {
    background-color: #CDE99E;

    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #666666;
    font-weight: bold;
}
.renglonTabla {
    background-color: #F2F2F2;	
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #666666;
    font-weight: bold;
}
.renglonTablaAzul {
    background-color: #034E92;

    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
}
.subtitulosgde {
    font-family: Lucida Sans, Lucida Sans Unicode, Arial, Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #034E92;
}
/******************************************/
.titulosSeccion {
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #006600;
    text-transform: uppercase;
    text-align: right;
}
.titulosSeccionV {
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #006600;
    text-align: left;
    background-color: #F4F4F4;
}
.estiloboldVerde {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    color: #006600;
}
.subtitulosgde {
    font-family: Lucida Sans, Lucida Sans Unicode, Arial, Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #034E92;
}
.fecha {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-style: normal;
    color: #666666;
}
.estilobold {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-style: normal;
    color: #666666;
    font-weight: bold;
}
.derechosR {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    color: #FFFFFF;
}
.submhead {
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #666666;
    font-weight: bold;
}
.submheadaz {
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    color: #034E92;
    font-weight: bold;
}


.linkmenu{
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.linkmenu a:link, .linkmenu a:visited {
    font-size: 11px;
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.linkmenu a:hover{
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
}
.linkpie{
    min-width: 640px;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 11px;
    text-decoration: none;
}
.linkpie a:link, .linkpie a:visited {
    font-size: 11px;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    text-decoration: none;
}
.linkpie a:hover{
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 11px;
    text-decoration: underline;
}
.linknews{
    min-width: 640px;
    color: #666666;
    font-family: "Trebuchet MS";
    font-size: 10px;
    text-decoration: none;
}
.linknews a:link, .linknews a:visited {
    font-size: 10px;
    color: #666666;
    font-family: "Trebuchet MS";
    text-decoration: none;
}
.linknews a:hover{
    color: #666666;
    font-family: "Trebuchet MS";
    font-size: 10px;
    text-decoration: underline;
}
.linkazul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #0E67C7;
    text-decoration: none;

}
.linkazul a:link, .linkazul a:visited {
    font-size: 10px;
    color: #0E67C7;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.linkazul a:hover{
    color: #0E67C7;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: underline;

}

.linkruta {
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    font-size: 10px;
    color: #0E67C7;
    text-decoration: none;

}
.linkruta a:link, .linkruta a:visited {
    font-size: 10px;
    color: #0E67C7;
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    text-decoration: none;

}
.linkruta a:hover{
    color: #0E67C7;
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    font-size: 10px;
    text-decoration: underline;

}
.navBlock {
    position:relative;
    float: left;
    width: 50%;
    border: none;
}
.newsBlock {
    float: left;
    width: 50%;
    margin-bottom: 0;
}

.linkrutabold {
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    font-size: 11px;
    font-weight:bold;
    color: #006600;
    text-decoration: none;	
}
.linkrutabold a:link, .linkrutabold a:visited {
    font-size: 11px;
    color: #006600;
    font-weight:bold;
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    text-decoration: none;	
}
.linkrutabold a:hover{
    color: #006600;
    font-family: "Lucida Sans", "Lucida Sans Unicode", Arial, Sans-Serif;
    font-size: 11px;
    font-weight:bold;
    text-decoration: underline;	
}
.myStyle {   visibility: hidden;}
/************ Generics *************/
/*
#divInfoMeta {
    display: inline-block;    
    width: 600px;
}

#divInfoMeta .separador-info {
    display: inherit;
}

.separador-info:first-child {
    width: 20% !important;
}

.separador-info:last-child {
    width: 80% !important;
}
*/

#costoAccion {
    text-align: right;
    margin: 15px 12px 15px 0px;
}

#sectorial-lineas #selFuente {
    display: block;
    position: relative;
    margin: 0px auto;
}

#selFuenteGasto select {
    width: 200px;
}

#estimacionMetaO {
    display: block;
    position: fixed;
    top: 130px;
    left: 40%;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 300px;
}

#estimacionMetaO th {
    text-align: center;
}

#estimacionMeta {
    display: block;
    position: fixed;
    top: 130px;
    left: 26%;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 690px;
    z-index: 40;
}

#estimacionMeta th {
    text-align: center;
}

#tblEstimacion td {
    text-align: center;
}

#tblEstimacion tbody td {
    padding-bottom: 3px;
}

#tblEstimacion td:last-child {
    padding-left: 15px;    
}
#tblEstimacion input[type="text"] {
    width: 170px;
    text-align: center;
}

#tblProgramacion td {
    text-align: center;
}

#tblProgramacion input[type="text"] {
    width: 50px;
    text-align: center;
}

table#identMeta div {
    width: 430px;
    text-align: justify;
}

table#identMeta tr td:last-child {
    padding-left: 15px;
}

table#informacionMeta div {
    width: 430px;
    text-align: justify;
}

table#informacionMeta tr td:last-child {
    padding-left: 0px;
}

#descrMeta {
    width: 135px;
    position: relative;
    top: -29px;
}

table#informacionAccion div {
    width: 430px;
    text-align: justify;
}

table#informacionAccion tr td:last-child {
    padding-left: 15px;
}

#descrAccion {
    width: 94px;
    position: relative;
    top: -29px;
}

#estimacionMeta div div {
    
    /*
    max-height: 365px;
    width: 273px;
    overflow-y: auto;
    overflow-x: auto;*/
}

.blue-banner {
    background: #00F;
    color: #FFF;
    height: 30px;
    font-size: 25px;
    padding-top: 7px;
    padding-left: 15px;
}

.selLinea {
    width: 311px;
}

#divCombo{
    margin-bottom: 20px;
    margin-top: 15px;
}

#divComboProgramas{
    margin-bottom: 20px;
    margin-top: 15px;
    position: relative;
    top: -20px;
}

#divComboProyectos{
    margin-bottom: 20px;
    margin-top: -40px;
}

.center-div-auto{
    display: block;
    position: relative;
    margin: 100px auto;
    width: 80%;
}

.center-div{
    display: inline-block;
    position: relative;
    margin: 0px 19%;
}


.center-req {
    margin: 0px 14%;
}

#search-responsable input[type= "text"] {
    width: 90%;
}

.captura-caps{
    text-transform: uppercase;
}

.edit-icon-table{
    background: transparent;
    background-image: url("../imagenes/edit.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px !important;
    border: none;
    padding: 13px;
    margin-left: 20px;
}

#search-responsable{
    opacity: 1 !important;
}

#divSelResponsable{
    position: absolute;
    box-shadow: 5px 6px;
    border-radius: 5px;
    top: 0;
    padding: 15px;
    background: #DDD;
    z-index: 150;
}

#tblMeta tr td:first-child {
    width: 110px;
}

#tblMeta select {
    width: 380px;
    margin: 2px;
}

#div-listado table tr {
    padding: 5px;
    display: block;
    cursor: pointer;
}

#div-listado table td, #div-listado table th {
    margin: 0px 30px 0px 10px;
    display: inline-block;
}

#div-listado tr div {
    width: 420px;
    padding-left: 15px;
    max-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#infoMeta {
    position: fixed;
    top: 130px;
    left: 26%;
    /*width: 500px;
    height: 350px;*/
    background: #E0E0E0;
    border-radius: 10px;
    box-shadow: rgba(140, 140, 140, 0.82) 7px 5px;
    padding: 15px;
    max-width: 630px;
}

#txtAreaDescComp {
    height: 50px;
}

#tblInfoMeta select {
    width: 200px;
}

#tblInfoMeta tr div {
    margin-top: 15px;
}

#tblPrgAct select {
    width: 400px;
}

/************* Menu ***********/

.menu{
    margin: auto;
    border: 0px solid #CCC;
    width: 100%;
    height: 900px;
}

.lblMenu{
    color: #000;
}

.menu a {
    text-decoration: none;
    margin-left: 5px;
    font-size: 11px;
    display: inline-block;
    cursor: pointer;
}

.menu a:hover {
    font-weight: bold;
}

.menu a label{
    cursor: pointer;
}

.menuIzquierda{
    width: 50%;
    float: left;
    display: inline;
}

.menuDerecha{
    width: 50%;
    float: right;
    display: inline;
}

.menuOpciones {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
}

.menuOpciones label {
    position: relative;
    left: 10px;
    margin-top: 10px;
}

.menuSubOpciones {
    float: left;
    margin-left: 10px;
    width: 100%;
    height: 22px;
    display: inline-table;
}

.menuImg {
    vertical-align: middle;
}

.menuLogout {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/************ Tabla búsqueda ***********/

.tabla-busqueda {
    margin-bottom: 15px;
    background: #FFF;
}

.tabla-busqueda thead th {
    width: 330px;
    text-align: center;
}

.tabla-busqueda tbody tr:hover{
    background: rgb(41, 153, 202);
    color: white;
    cursor: pointer;
}

.rowPar{
    background: #CCC;
    color: white;
}
.rowImpar{
    background: white;
    color: black;
}
.selected{
    background: rgb(41, 153, 202);
    color: white;
}

#resultado-busqueda{
    position: relative !important;
    opacity: 1 !important;
}

.tabla-busqueda tbody {
    min-height: 50px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabla-busqueda tbody, .tabla-busqueda thead {
    display: block;
}

.tabla-busqueda tbody tr {
    display: block;
}

/************ tab containr ************/

#selFin {
    width: 400px;
}

#tabContainer {
    margin: 0 auto;
    left: -80px;
    position: relative;
    /*width: 50%;  Ancho del contenedor */
}

#tabContainer input {
    height: 2.5em;
    visibility: hidden;
}

#tabContainer label {
    background: #f9f9f9;  /* Fondo de las pestañas */
    border-radius: .25em .25em 0 0;
    color: #888;  /* Color del texto de las pestañas */
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1em;  /* Tamaño del texto de las pestañas */
    height: 40px;
    /*line-height: 2.5em;*/
    margin-right: .25em;
    padding-top: 3px ;
    text-align: center;
    width: 102px;
}

#tabContainer input:hover + label {
    background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
    color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#tabContainer input:checked + label {
    background: #f1f1f1;  /* Fondo de las pestañas al presionar */
    color: #444; /* Color de las pestañas al presionar */
    position: relative;
    z-index: 6;
    /*
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    -ms-transition: .1s;
    */
}

#tabContent {
    background: #f1f1f1;  /* Fondo del contenido */
    border-radius: 0 .25em .25em .25em;
    min-height: 20em;  /* Alto del contenido */
    position: relative;
    width: 737px;
    z-index: 5;
    margin-top: 3px;
}

#tabContent div {
    opacity: 0;
    padding: 0.5em;
    position: absolute;
    z-index: -100;
    /*
    transition: all linear 0.1s;
    */
}


#tabContainer input#tabResponsable:checked ~ #tabContent #tabContent-1,
#tabContainer input#tabFinProp:checked ~ #tabContent #tabContent-2,
#tabContainer input#tabPonderado:checked ~ #tabContent #tabContent-3,
#tabContainer input#tabClasificacionProgramatica:checked ~ #tabContent #tabContent-4,
#tabContainer input#tabLineaAccion:checked ~ #tabContent #tabContent-5{
    opacity: 1;
    z-index: 100;
}

#tabContainer input#tabAsignado:checked ~ #tabContent #tabContent-2 {
    max-height: 250px;
    /*overflow-y: auto;
    /* overflow-x: hidden; */
    width: 735px;
}

#tabContainer input#tabPorAsignar:checked ~ #tabContent #tabContent-1,
#tabContainer input#tabAsignado:checked ~ #tabContent #tabContent-2{
    opacity: 1;
    z-index: 100;
    max-height: 20em;
}

input.visible {
    visibility: visible !important;
}

#tabContainer input[type=text], #tabContainer input[type=button]{
    visibility: visible;
    height: 20px;
}

#tabContent-1 div,#tabContent-2 div, #tabContent-3 div, #tabContent-4 div {
    position: initial;
    padding: 0;
}

/******* Menú botones ******/

.btnbootstrap {
    height: 50px;
    width: 50px;
    vertical-align: bottom;
    display: inline-block;
    margin: 1px;
    border: 0px;
}

.btnbootstrap-drop {
    height: 25px;
    width: 25px;
    vertical-align: bottom;
    display: inline-block;
    margin: 1px;
    border: 0px;
}

.botones-menu_bootstrap {
    border: 1px solid #CCCCCC;
    float: right;
    margin: 3px;
    max-width: 450px;
    padding: 5px;
    position: relative;
    right: 0;
}

.btn-atras {
    background: url('../imagenes/back.png') no-repeat 12px 5px;
}

.btn-guardar {
    background: url('../imagenes/save.png') no-repeat 12px 5px;
}

.btn-inicio {
    background: url('../imagenes/Home-icon.png') no-repeat 12px 5px;
}

.btn-reporte {
    background: url('../imagenes/report.png') no-repeat 12px 5px;
}

.btn-reporte {
    background: url('../imagenes/report.png') no-repeat 12px 5px;
}

.btn-reporte-mini {
    background: url('../imagenes/report-mini.png') no-repeat 12px 5px;
}

.btn-infoGlobe-reporte {
    background: url('../imagenes/infoGlobe-icon.png') no-repeat 12px 5px;
}

.btn-edicion {
    background: url('../imagenes/edit-icon.png') no-repeat;
}

.btn-borrar {
    background: url('../imagenes/delete-icon.png') no-repeat;
}

.btn-generar {
    background: url('../imagenes/zipIcon.jpg') no-repeat 12px 5px;
}

.btn-enviar {
    background: url('../imagenes/enviar.png') no-repeat 12px 5px;
}

.btn-aceptar {
    background: url('../imagenes/aceptar.png') no-repeat 12px 5px;
}

.btn-rechazar {
    background: url('../imagenes/rechazar.jpg') no-repeat 12px 5px;
}

.btn-cancelar {
    background: url('../imagenes/cancel.png') no-repeat 12px 5px;
}

.btn-Excel {
    background: url('../imagenes/excel-icon.png') no-repeat 12px 5px;
}

.btn-Excel-mini {
    background: url('../imagenes/excel-icon-mini.png') no-repeat 12px 5px;
}

.btn-limpiar {
    background: url('../imagenes/clear.png') no-repeat 12px 5px;
}

.btn-agregar {
    background: url('../imagenes/agregar.png') no-repeat 12px 5px;
}

.btn-edit {
    background: url('../imagenes/edit.png') no-repeat;
}

.btn-add {
    background: url('../imagenes/add-icon.png') no-repeat;
}

.btn-ver {
    background: url('../imagenes/eye-icon.png') no-repeat;
}

.btn-money {
    background: url('../imagenes/money-icon.png') no-repeat;
}

.lineas-proyecto-btn{ 
    width: 70px;
    margin: 4px 11px 2px;
}

.tbl-btn{
    width: 24px;
    height: 24px;
    border: none;
}

/********* Tabla Proyectos actividades ***********/

#tblProAct th {
    padding: 5px;
    border: 1px solid #AAA;
    text-align: center;
}

#divTablProAct {
    margin-top: 20px;
    max-width: 500px;
    max-height: 300px;
    min-height: 200px;
    overflow: auto;
    padding: 15px;
}

#tblProAct tbody tr {
    border-bottom: 1px solid #CCC;
    padding: 5px 0px;
}

#tblProAct tbody tr td:first-child {
    display: inline-block;
    width: 295px;
    padding: 5px 3px;
}


/**************** Captura linea ***************/

.captura-lineas {
    display: inline-flex;
    position: absolute;
    padding: 10px;
    top: 0px;
    margin: auto;
    background: #E2DEDE;
    width: 530px;
    height: 300px;
    border-radius: 8px;
}

.captura-lineas label{
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute;
    bottom: 50px;
}

.lineas-drop {
    position: relative;
    height: 90%;
    border: 1px solid #948F8F;
    padding: 3px;
    background: none repeat scroll 0% 0% #FFF;
    left: 25px;
    top: 7px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 398px;
}

#lineas-ctrl {
    width: 20%;
    display: inline-block;
    position: relative;
    padding-top: 2px;
    left: 30px;
}

#lineas-ctrl input {
    width: 75px;
    position: relative;
    display: inline-block;
    margin: 5px 0px 5px 10px;
}

#ped-lineas tr{
    display: block;
    padding: 2px;
}

#sectorial-lineas tr {
    display: block;
    padding: 2px;
    width: 380px;
}

.selected-linea{
    background: #2999CA;
}

#txtAreaMeta {
    height: 80px;
}


/* CAPTURA METAS */

#divGenero {
    width: 170px;
    display: flex;
}

#divGenero div {
    width: 50%;
    margin-left: 10px;
}

#divGenero input {
    width: 100%;
}

#infoSeccion td {
    padding-right: 15px;
}
/*
#tblAcciones thead,#tblAcciones tbody {
    display: block;
}
*/
#divAcciones th {
    padding: 0px 20px;
}

#divAcciones td {
    padding: 0px 30px;
    text-align: justify;
}

#divAcciones th:first-child {
    padding-left: 15px;
}

#tblAcciones tbody tr:hover{
    cursor: pointer;
    background-color: #2999CA;
    color: #FFF;
}
/*
#divAcciones td div {
    height: 15px;
    overflow-y: hidden;
    width: 400px;
}
*/
#tblRequerimientos tbody,  #tblRequerimientos thead {
    /*display: block;*/
}

#tblRequerimientos tbody tr {
    width: 100%;
    /*display: block;*/
}

#tblRequerimientos thead th {
    padding: 0px 20px;
}

#tblRequerimientos tbody tr:hover {
    color: white;
    background-color: #2999CA;
    cursor: pointer;
}

#tblPlantillaPer tbody tr:hover {
    color: white;
    background-color: #2999CA;
    cursor: pointer;
}

#tblRequerimientos tbody {
    width: 580px;
}

#divAcciones {
    margin-bottom: 15px;
}

#tblRequerimientos tbody td:first-child {
    /*padding-left: 65px;
    padding-right: 93px;*/
}

#tblRequerimientos tbody td:last-child {
    padding-left: 50px;
    padding-right:  15px;
    text-align: right;
}

#tblRequerimientos thead th:last-child {
    /*padding-left: 130px;*/
}

#divRequerimientos tbody {
    max-height: 200px;
    overflow-y: auto;
}

#selFuenteGasto{
    position: relative;
    left: -35px;
}

#divReq {
    width: 682px;
    position: relative;
    left: -35px;
}

#infoAccion {
    display: block;
    position: absolute;
    background: #DFDFDF;
    top: -111px;
    left: -14%;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 5px 5px #808080;
    max-width: 700px;
    z-index : 40
}

#infoAccion select {
    width: 217px;
    margin: 2px;
}

div#infoAccion table:first-child tr td:last-child {
    padding-left: 0px;
}

div#infoAccion textArea {
    max-width: 565px;
    width: 566px;
    height: 80px;
    position: relative;
    left: -16px;
}

#txtAreaPart {
    min-height: 20px;
    max-height: 600px;
}

div#infoAccion table:first-child {
    width: 100%;
}

#infoRequerimiento table input {
    width: 221px;
}

#infoRequerimiento {
    display: block;
    position: fixed;
    background: #DFDFDF;
    top: 0px;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 5px 5px #808080;
    max-width: 700px;
}

#infoRequerimiento select {
    width: 217px;
    margin: 2px;
}

#infoRequerimiento table:first-child tr td:last-child {
    padding-left: 0px;
}

#infoRequerimiento textArea {
    max-width: 669px;
    width: 662px;
    margin-left: 0px;
    height: 60px;
    text-transform: uppercase;
}

#infoRequerimiento table:first-child {
    width: 100%;
}

#divMese {
    /*width: 650px;*/
}

#divMese div {
    display: inline-block;
    width: 16%;
}
#divMese input {
    width: 100% !important;
    text-align: center;
    font-size: 10px;
}

/************ Tabla reporte ***********/

.tabla-reporte {
    margin-bottom: 15px;
    background: #FFF;
}

.tabla-reporte thead tr {
    width: 100%;
    display: block;
}

.tabla-reporte thead th {

    text-align: left;
}

.tabla-reporte tbody tr:hover{
    background: rgb(41, 153, 202);
    color: white;
    cursor: pointer;
}

#resultado-reporte{
    position: relative !important;
    opacity: 1 !important;
}

.tabla-reporte tbody {
    min-height: 50px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabla-reporte tbody, .tabla-reporte thead {
    display: block;
}

.tabla-reporte tbody tr {
    /*display: block;*/
}

/************** Seleccion de año **************************/
#selYear {
    display: block;
    width: 80px;
    margin-bottom: 15px;
}
#selYear input {
    margin-right: 20px;
}

#infoIncial div {
    color: #000;
    text-align: justify;
}
#infoIncial {
    padding: 20px;
    background-color: #D1D2D4;
    margin-top: 15px; 
}

#selRamo {
    width: 400px;
}

#tblPrgAct{
    margin-top: 15px;
}

.selRangoPrograma{
    width: 300px;
    margin-top: 10px;
}
#TitProcess{

    font-family: "Trebuchet MS";
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;    
}

/* display the dropdown */
#divRamos{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    left: 40px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 500px;
}

#labelCont {
    width: 345px;
    border: none;
}

#comboSelect{
    border: 2px solid #DDD !important;
    width: 373px;
    position: relative;
    top: -25px !important;
    left: 40px !important;
    height: 24px;
}

#dropDown{
    width: 20px;
    height: 20px;
    position: relative;
    left: 4px;
    top: -2.8px;
}

.comboRamos ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 45px;
}

.comboRamos ul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.comboRamos ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.comboRamos ul li:hover ul{
    display: block; 
}

/* display the dropdown */
#divProgramas{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 600px;
    left: 40px;
}

#labelContProgramas {
    width: 345px;
    border: none;
}

#comboSelectProgramas{
    border: 2px solid #DDD !important;
    width: 373px;
    position: relative;
    top: -25px !important;
    left: 40px !important;
    height: 24px;
}

#dropDownProgramas{
    width: 20px;
    height: 20px;
    position: relative;
    left: 4px;
    top: -2.8px;
}

.comboProgramas ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 45px;
}

.comboProgramas ul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.comboProgramas ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.comboProgramas ul li:hover ul{
    display: block; 
}

/* display the dropdown */
#divProyectos{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 700px;
    left: 40px;
}

#labelContProyectos {
    width: 345px;
    border: none;
}

#comboSelectProyectos{
    border: 2px solid #DDD !important;
    width: 373px;
    position: relative;
    top: -25px !important;
    left: 40px !important;
    height: 24px;
}

#dropDownProyectos{
    width: 20px;
    height: 20px;
    position: relative;
    left: 4px;
    top: -2.8px;
}

.comboProyectos ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 45px;
}

.comboProyectosul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.comboProyectos ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.comboProyectos ul li:hover ul{
    display: block; 
}
/* display the dropdown */
#divComboGP{
    margin-top: -25px;
} 

#divGrupoPoblacional{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    left: 90px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 500px;
}

#labelContGP {
    width: 345px;
    border: none;
}

#comboSelectGP{
    border: 2px solid #DDD !important;
    width: 323px;
    position: relative;
    top: -25px !important;
    left: 90px !important;
    height: 24px;
}

#dropDownGP{
    width: 20px;
    height: 20px;
    position: relative;
    left: 300px;
    top: -23.8px;
}

.comboGP ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 45px;
}

.comboGP ul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.comboGP ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.comboGP ul li:hover ul{
    display: block; 
}

#actualizarResp{
    background: url("../imagenes/edit.png") no-repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: url("../imagenes/edit.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 30px;
    height: 30px !important;
    border: medium none;
    padding: 13px;
    position: relative;
    left: 226px;
    top: -25px;
}


.lineas-proyecto-sectorial-btn {
    width: 70px;
    display:inline-block;
}

.borrar-linea-btn {
    width: 70px;
    margin: 0px !important;
    position: relative;
    left: 70px;
    top: -11px;
}

.lineas-proyecto-sectorial-btn-hidden{
    width: 70px;
    display:none;
}

.selected-linea-sectorial{
    background: #2999CA;
}

.radioDiv {
    width: 300px;
    height: 50px;
}

.radioDivComparativo {
    width: 350px;
    height: 50px;
}

.checkDiv {
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    width: 186px;
    height: 50px;
}

.radioDivProyAct {
    width: 186px;
    height: 50px;
}

.checkDivProyAct {
    width: 186px;
    height: 50px;
    position: relative;
    left: 155px;
    top: -20px;
}

.yearDivProyAct{
    position: relative;
    left: 0px;
    top: -23px;
}

#titLineaSectlLineaPed {
    overflow: hidden;
    width: 400px;
    position: relative;
    height: 58px;
    border: 0px none;
    background: none repeat scroll 0% 0% transparent;
    left: 29px;
    resize: none;
}

#btnSeleccionBD div {
    display: inline-table;
}

#btnSeleccionBD input {
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
}

.lineas-drop-sectorial {
    position: relative;
    height: 79%;
    border: 1px solid #948F8F;
    padding: 3px;
    background: none repeat scroll 0% 0% #FFF;
    left: 25px;
    top: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 398px;
}

#lineas-sectorial-ctrl {
    width: 20%;
    display: inline-block;
    position: relative;
    padding-top: 56px;
    left: 30px;
}

#lineas-sectorial-ctrl input {
    width: 75px;
    position: relative;
    display: inline-block;
    margin: 5px 0px 5px 10px;
}

#btnSeleccionBD {
    display: inline-block;
    position: relative;
    margin-top: 13%;
}

.labelGroupBy{
    position: relative;
}

#inp-periodo {
    width: 50px;
}

#div-periodo input[type="button"] {
    width: 25px;
    height: 25px;
}

#div-periodo {
    margin-left: 50px;
}

#infoPresupuestacion {
    background-color: lightgrey;
    display: block;
    width: 700px;
    padding: 15px;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 10px;
}

#tblPresupuesto {
    width: 100%;
}

#tblPresupuesto th, #tblPresupuesto td {
    padding: 0px 8px;
}

#tblPlantillaPer th,#tblPlantillaPer td{
    padding: 0px 8px;
}

#tblPlantillaPer tbody td:first-child {
    width: 75%;
}

#tblPlantillaPer tbody td:last-child {
    width: 25%;
}

#tblPresupuesto tbody tr:hover {
    background: rgb(41, 153, 202);
    color: white;
    cursor: pointer;
}

#tblPresupuesto tbody td:first-child {
    width: 15%;
}

#tblPresupuesto tbody td:last-child {
    width: 85%;
}

#txtAreaPresupuestacion {
    text-transform: uppercase;
    max-width: 750px;
    width: 100%;
    height: 100px;
}

#yearPresu {
    width: 60px;
    text-align: center;
    margin-left: 2px;
}

#infoPlantillaPer {
    padding: 15px;
    background-color: lightgrey;
    width: 515px;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 10px;
}

#selRelLaboral{
    width: 280px;
}

#inpTxtCantidad {
    width: 190px;
}

#infoPlantillaPer td {
    padding-right: 5px;
}

.alertFallo {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

.alertExito {
    margin-top: 20px;
    color: blue;
    font-weight: bold;
}

.ramoLineaAccion{
    width: 400px;
}

#tblLineaAcc tr {
    display: block;
    padding: 2px 20px;
}

#tblLineaAcc tr {
    display: block;
    padding: 2px 20px;
}

.errorClass {
    border: 1px red solid !important;
}

#tabContent-5 {
    display: flex;
    width: 100%;
}

#divLinRamo {
    width: 450px;
    max-height: 220px;
    overflow: overlay;
}

#calenVista div {
    display: inline-block;
    width: 110px;
}

#calenVista input {
    width: 108px;
    font-size: 10px;
}

.calenVistaC {
    width: 670px !important;
}

.calenVistaC div {
    display: inline-block;
    width: 111px !important;
}

.calenVistaC input {
    width: 108px;
    font-size: 10px;
}

.asigCheck{
    visibility: visible !important;
}

#plantAsigAuto th {
    text-align: center;    
}

#plantAsigAuto tbody td {
    text-align: left;
    padding: 1px;
}

.noMenuAcordeon{ 
    display: none;
}

.tabla-plantilla {
    background: #FFF;
}

.tabla-plantilla tbody tr:hover{
    background: rgb(41, 153, 202);
    color: white;
    cursor: pointer;
}

.tabla-plantilla tbody {
    overflow-y: auto;
}

.menuAcordeon{
    padding:0;
    list-style:none;
    width:720px;
    font-size:18px;
    background:#DADADA;
    border: 1px solid rgba(0,0,0,0.8);
}

.menuAcordeonli a{
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    background:#3e3f44;
    text-decoration:none;
    color:#FFF;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:20px;
}

.menuAcordeon li ul li a{
    font-size:14px;
    color:#47689d;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);

}

.menuAcordeon li a:hover{
    background:#4a6ba2;
    -moz-transition: background 1s ease-in;
    -webkit-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
}

.menuAcordeon ul{
    margin:0;
    padding:0;
    list-style:none;
    /*height:0;*/
    display : none;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.menuAcordeon li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}

.menuAcordeon ul li a{
    background:#fafafa;
}

.menuAcordeon ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
}

table.tabla-plantilla tbody,table.tabla-plantilla thead {
    font-size: 12px;
}

li.menuAcordeon {
    font-size: 12px;
    color: black;
    cursor: pointer;
    margin: 2px;
}

ul.menuAcordeon2 {
    padding: 0;
}

.tabla-plantilla tbody tr {
    font-size: 10px;
}

#plantAsigAuto tbody tr {
    font-size: 10px;
}

#frmReq table tbody #partidaGasto td:first-child {
    display: inline-block;
}

/*#frmReq table tbody #partidaGasto div {
    width: 49%;
    display: inline-block;
}

#selPartida {
    width: 84px !important;
}
*/
#divVwTipoGasto div {
    width: 100% !important;
}

#divVwTipoGasto input {
    width: 100% !important;
    text-align: center;
}

#tblProyeccion thead th {
    padding: 0px 34px;
}

#tblProyeccion tbody td {
    text-align: right;
}

#divTblProyeccion {
    border: 1px solid lightgrey;
    width: 660px;
    position: relative;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    left: -9%;
}

#divTotalProyeccion{
    display: inline-block;
    position: relative;
    float: right;
    font-weight: bold;
    margin-top: 3px;
}

#lbCalAnual {
    left: -129px !important;
    position: relative !important;
}

.selPartidaComp{
    width: 410px !important;
    position: relative;

}

.selPartidaComp2{
    width: 410px !important;
    position: relative;
    left: 10px;

}

#filtrosRpt select {
    width: 400px !important;
    margin: 5px 5px 0px 10px;
}

/*
.tabContent-2{
    max-height: 1000em;    
}*/

#tbl-info-movs select{
    width: 350px;
}

.info-usuario-izq {
    width: 315px;
}
.info-usuario-der {
    width: 110px;
    margin-right: 15px;
}

#fldst-recal,#fldst-movs {
    position: relative;
    left: -14% !important;
}

#tbl-reqs th {
    padding: 0px 5px;
    text-align: center;
}

#tbl-reqs td {
    text-align: center;
    padding: 0 10px;
}

#tbl-reqs td:last-child {
    display: flex;
}

#tbl-ampred-reqs th {
    padding: 0px 2px;
    text-align: center;
}

#tbl-ampred-reqs td {
    text-align: center;
    padding: 0 13px;
}

#tbl-ampred-reqs td:last-child {
    display: flex;
}

#tbl-movs {
    width: 80%;
    /*margin: 0 10%;*/
}

#tbl-movs th {
    text-align: center;
    padding: 0px 30px 0px 30px;
}

#tbl-movs td {
    text-align: center;
    padding: 0px 4px;
}

#tbl-solMovs {
    width: 100%;
    /*margin: 0 10%;*/
}

#tbl-solMovs th {
    text-align: center;
    padding: 0px 30px 0px 30px;
}

#tbl-solMovs td {
    text-align: center;
    padding: 0px 4px;
}

#infoMetaRecal div {
    width: 430px;
    text-align: justify;
    box-sizing: border-box !important;
}

#infoMetaRecal tr td:last-child {
    padding-left: 15px;
}

.calenVistaRC {
    width: 715px !important;
}

.calenVistaRC div {
    display: inline-block;
    width: 117px !important;
    box-sizing: border-box !important;
}

.calenVistaRC input {
    width: 108px;
    font-size: 10px;
}

#estimacionMetaRC {
    display: block;
    position: absolute;
    top: -111px;
    left: -23%;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 770px;
    z-index: 2;
}

#popUp-accion-req {
    display: block;
    position: absolute;
    top: -111px;
    left: -112px;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 770px;
    z-index: 2;
}

#estimacionMetaRC th {
    text-align: center;
}

#fieldsetMetaRC {
    border-color: black !important;
}

#txt-area-justif, #txt-area-coment, #txt-area-coment-plan {
    width: 350px;
    height: 70px;
}

#btn-save-movs{
    position: relative;
    display: block;
    margin: 0 auto;
}

#tblMovimientos tbody tr:hover{
    cursor: pointer;
    background-color: #2999CA;
    color: #FFF;
}

#div-movimientos table tr {
    padding: 5px;
    /*display: block;*/
    cursor: pointer;
}

#div-movimientos table td, #div-movimientos table th {
    margin: 0px 30px 0px 10px;
    /*display: inline-block;*/
}

#div-movimientos table {
    width: 100%;
}

#tbl-info-req {
    width: 75%;
}

.cant-accion-req div {
    display: inline-block;
    width: 25%;
}

.cant-accion-req input {
    width: 170px !important;
    text-align: right;
}

.txtArea-accReq {
    max-width: 1000px;
    width: 133%;
    height: 45px;
}

.cant-accion-req {
    display: inline;
    position: relative;
    margin: 0 0 0 12%;
}

.inpTxt-cantidades{
    width: 200px;
}

.centerdivSelects {
    margin: 0px 14%;
}


#tblSolicitudSelects{
    border-spacing: 10px;
    border-collapse: separate;
    margin-left: 6px;
}

#lbTipoSolicitud{
    width: 110px !important;
}

.btn-infor {
    background: url('../imagenes/info-icon2.png') no-repeat;
}

.btn-infoGlobe {
    background: url('../imagenes/infoGlobe-icon.png') no-repeat;
}

#popUp-motivo {
    display: block;
    position: absolute;
    top: -30px;
    right: 60px;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 400px;
    z-index: 3;
}

#txt-area-motivo{
    width: 370px; 
    height: 100px;
    resize: none;
} 


#estimacionMetaRP {
    display: block;
    position: absolute;
    top: -110px;
    left: -160px;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 850px;
    z-index: 2;
}

#estimacionMetaRP th {
    text-align: center;
}

.selectOriginal {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

table#tbl-movto-reprog thead th {
    padding: 0px 24px;
    text-align: center;
}

table#tbl-movto-reprog tbody td {
    text-align: center;
}

#txt-area-obs-rechazo {
    width: 350px;
    height: 70px;
}

#div-cantidades-cod {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 5px 0px;
}

#div-cantidades-cod input[type="text"] {
    margin: 0px 50px 0px 20px;
    text-align: right;
    width: 150px;
}

#btn-ampliacion {
    display: block;
    margin: 10px auto;
}

#btn-tranferir {
    display: block;
    margin: 10px auto;
}

#btn-reduccion {
    position: absolute;
    right: 5%;
}

#fldst-ampred, #fldst-movs {
    position: relative;
    left: -50%;
}



#infoMetaAmpRed {
    display: block;
    position: absolute;
    top: -110px;
    left: -160px;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 650px;
    z-index: 2;
}
#infoCaratulas {
    display: block;
    position: relative;
    top: -150px;
    left: 20px;
    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 830px;
    z-index: 2;
}
#infoMetaAmpRed th {
    text-align: center;
}

#estimacionMetaAR{
    display: block;
    position: absolute;
    top: -110px;
    /*left: -160px;*/

    padding: 15px;
    background: #CCC;
    border-radius: 10px;
    width: 300px;
    z-index: 2;

}

#estimacionMetaAR th {
    text-align: center;
}
.calenVistaCAR {
    width: 300px !important;
}

.calenVistaCAR div {
    display: inline-block;
    width: 111px !important;
}

.calenVistaCAR input {
    width: 108px;
    font-size: 10px;
}

#txtAreaJust,#txtAreaPart {
    max-width: 1000px;
    width: 100%;
    height: 80px;
}

.ui-widget-header {
    background-image: url(../imagenes/fondo_azul.png) !important;
    border: 1px solid #02A3DF !important;
}

#importeReduccion {
    display: block;
    width: 250px;
    background: #CECECE;
    padding: 15px;
    position: absolute;
    top: 30%;
    left: 25%;
    border-radius: 9px;
}

#importeReduccion #btnsEdicion {
    margin: 10px 40px 0px;
    display: inline-block;
    position: relative;
}

#importeReduccion #btnsEdicion input{
    width: 65px;
}

#avancePoaMeta {
    display: block;
    position: absolute;
    top: -160px;
    padding: 5px;
    background: #CCC;
    border-radius: 10px;
    width: 730px;
    z-index: 10;
}

#avancePoaMeta th {
    text-align: center;
    width: 50px;
}

#avancePoaMeta input{
    text-align: center;

}


#tblAvancePoaMeta{
    width:200px;
    text-align: center;
    vertical-align: text-top;
    padding: 5px;

}

#tblAvancePoaMeta input{
    text-align: center;


}

.estilotextareaAvancePoa{
    /* width:700px;*/
    height:70px;
    border: 1px solid   #FFF; 
    max-width: 648px;
    width: 648px;
    margin-left: 15px;
    resize:  none;
    text-align: justify;

} 



#avanceAccionAvancePOA {
    
     display: block;
    position: absolute;
    top: 130px;
    padding: 5px;
    background: #CCC;
    border-radius: 10px;
    width: 730px;
    z-index: 10;
}

#avanceAccionAvancePOA th {
    text-align: center;
    vertical-align: text-top;
    width: 50px;
}

#avanceAccionAvancePOA input{
    text-align: center;

}


#tblAvancePoaMeta{
    width: 200px;
    text-align: center;
    vertical-align: text-top;

}

#tblAvancePoaMeta input{
    text-align: center;


}

#tblListAccionesAvancePoa{
    text-align: left;
    width: 700px;
    vertical-align: text-top;

}

#tblAvancePoaAccion{
    text-align: left;
    width: 860px;

    vertical-align: text-top;
}

#ventanaTexto{
    display: block;
    position: fixed;
    top: 330px;
    padding: 5px;
    background: #CCC;
    border-radius: 10px;
    width: 100px;
}

#txtCaratula {
    width: 70px;
}

#selCaratula {
    width: 351px;
}

#tblCaratula {
    width: 100%;
    margin: 0 0%;
}

#tblCaratula th {
    text-align: center;
}

#tblCaratula td {
     padding: 0px 8px;
}

.muestra-cal{
    width: 100% !important;
    text-align: right;
    position: relative;
    right: 21px;
    margin-top: 12px;
}

#Observa {
    display: block;
    position: absolute;
    top: 150px;
    padding: 20px;
    background:  #F4F4F4;
    border-radius: 15px;
    border-color:  #2999CA;
    width: 500px;
    text-align: justify;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    z-index:   10;
   
}

#div-aceptar input {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    left: 39%;
}
/*
#radioCompleto {
    position: absolute;
    margin-top: 14px;
}
*/
#btnFolio{
    position: absolute;
    top: 2px;
}

#inpt-folio {
    width: 120px;
}

.tdCosto {
    text-align: right;
}

#tbl-solMovs tr td:last-child{
    padding: 0 !important;
    width: 250px !important;
}

.disabled {
    color: red;
    opacity: 0.5;
}

.disabled option {
    color: #000; 
    opacity: 1;
}

.enabled {
    color: green;
}

#tbl-solMovsNoAplica {
    width: 100%;
    /*margin: 0 10%;*/
}

#tbl-solMovsNoAplica th {
    text-align: center;
    padding: 0px 30px 0px 30px;
}

#tbl-solMovsNoAplica td {
    text-align: center;
    padding: 0px 4px;
}

.btn-asignar {
    background: url('../imagenes/asignar-icon.png') no-repeat;
}

.btn-desasignar {
    background: url('../imagenes/desasignar-icon.png') no-repeat;
}

.btn-ConsultaBitacora {
    background: url('../imagenes/asignar-icon.png') no-repeat;
}

#txtAreaPart, #txtAreaMeta, #txtAreaAccion, #txtAreaJust{
    text-transform: uppercase;
}

#tbl-movto-reprog tbody td:last-child {
    width: 60px;
    display: block;
}
/*
#divAcciones td {
    padding: 0px 70px;

}
*/
.comboReporte {
    width: 400px;
    margin: 5px;
}

#divNiveles{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 3px;
    left: 40px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 250px;
}


#selIndicador {
    width: 400px;
}

#selSectorRamo {
    width: 400px;
}

tblIndicadorRamosSector {
    width: 100%;
}

tblIndicadorRamosSector th, tblIndicadorRamosSector td {
    padding: 0px 8px;
}

#selPrograma {
    width: 400px;
}

.drop-select{
    width: 400px;
}

.btn-infoLigado {
    background: url('../imagenes/infoLigado-icon.png') no-repeat;
}

.tooltiptext{
    display: none;
}

.tooltipHtml .qtip-content{
    font-size: 12px;
    width: 280px;
    height: 80px;
}

.btn-infoAsociado {
    background: url('../imagenes/infoAsociado-icon.png') no-repeat;
}

.textarea-comentario{
    width: 350px;
    max-width: 400px;
    height: 110px;
    line-height: 150%;
    text-transform: uppercase;
}

.botones-img{
    font-size: 20px !important;
    cursor: pointer;
}

/*Combobox Multiselect ponderados*/
.comboPonP ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 168px;
}
.comboPonP ul li{
    width: 361px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}
.comboPonP ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.comboPonP ul li:hover ul{
    display: block; 
}
/* display the dropdown */
/* display the dropdown */
#divComboPonP{
    margin-top: -25px;
} 

#divPonderadoPrg{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    left: 90px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 177px;
}

#labelContPonP {
    width: 222px;
    border: none;
}

#comboSelectPonP{
    border: 2px solid #DDD !important;
    width: 200px;
    position: relative;
    top: -25px !important;
    left: 90px !important;
    height: 24px;
}

#dropDownPonP{
    width: 20px;
    height: 20px;
    position: relative;
    left: 177px;
    top: -23.8px;
}

/*Combobox Multiselect ponderados*/
.comboPonM ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 168px;
}
.comboPonM ul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}
.comboPonM ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.comboPonM ul li:hover ul{
    display: block; 
}
/* display the dropdown */
#divComboPonM{
    margin-top: -25px;
} 

#divPonderadoMeta{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    left: 90px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 177px;
}

#labelContPonM {
    width: 345px;
    border: none;
}

#comboSelectPonM{
    border: 2px solid #DDD !important;
    width: 200px;
    position: relative;
    top: -25px !important;
    left: 90px !important;
    height: 24px;
}

#dropDownPonM{
    width: 20px;
    height: 20px;
    position: relative;
    left: 177px;
    top: -23.8px;
}

.cantidadEst{
    width: 100%;
}

#divMese {
    margin-top: 11px;
}

.no-enter{
    text-transform: uppercase;
}


/* display the dropdown */
#divFolios{
    border: 1px solid #DDD;
    padding: 7px 5px;
    top: 5px;
    left: 40px;
    position: relative;
    background-color: #FFF;
    max-height: 150px;
    overflow-y: auto;
    width: 215px;
}

#comboSelectRep{
    border: 2px solid #DDD !important;
    width: 215px;
    position: relative;
    top: -25px !important;
    left: 40px !important;
    height: 24px;
}



#mensajeBuscaFolios{
    padding: 7px 5px;
    top: 5px;
    left: 40px;
    position: relative;
    width: 515px;
}

#labelCont1 {
    width: 240px;
    border: none;
}

.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }


.comboNiveles ul{
    padding: 0;
    list-style: none;
    position: relative;
    top: -1px;
    left: 45px;
}

.comboNiveles ul li{
    width: 484px;
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.comboNiveles ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.comboNiveles ul li:hover ul{
    display: block; 
}

#comboSelectEstatus{
    border: 2px solid #DDD !important;
    width: 270px;
    position: relative;
    top: -25px !important;
    left: 40px !important;
    height: 24px;
}